<p>
  <mat-toolbar>
    <span>
        <a [routerLink]="['/']">Messenger UI</a></span>
    <span class="example-spacer"></span>
    <button  *ngIf="(user | async) != null"
             color="primary" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
       Welcome: {{(user | async)?.username}}
      </button>
      <button mat-menu-item>
        <mat-icon>message</mat-icon>
        <a [routerLink]="['/conversation']">Conversations</a>
      </button>
      <button mat-menu-item>
        <mat-icon>supervisor_account</mat-icon>
        <a [routerLink]="['/users']">Users</a>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <a [routerLink]="['/login']" (click)="logout()">Logout</a>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
